.m-0 {
    margin: 0 !important;
    padding: 0 !important;
}
.container-2, .container-3, .container-4, .container-5, .container-6, .container-fluid-7 {
    margin: 2rem 2rem 0 2rem !important;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    text-align: center;
}
.container-fluid-1 {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
}